<!DOCTYPE html>
<html lang='zh-CN'>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>自动化测试平台</title>
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-3.3.7/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<script src="{{url_for('static',filename='jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='bootstrap-3.3.7/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename='socket.io.min.js')}}"></script>
</head>
<body style="padding:0px;margin:0px;background:#F9F9F9;">
	<!-- 标题栏 -->
	<nav class="navbar navbar-inverse navbar-fixed-top" style="background:#205081">
	  <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{url_for('show_tasks')}}" style="font-size:20px;color:#FFF;font-family:SimSun;"><b> ❄ 自动化测试平台</b></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navbar-form navbar-right">
				{% if not session.logged_in %}
				<a class="btn btn-default" href="{{ url_for('login')}}"><b>&nbsp;登 陆&nbsp;</b></a>
				{% else %}
				<a class="btn btn-default" href="{{ url_for('logout')}}"><b>&nbsp;注 销&nbsp;</b></a>
				{% endif %}
			</div>
		</div>
	  </div>
	</nav>
	<!-- 菜单栏 -->
	<div class="col-md-1" style="padding:0px;display:{{menu}};">
        <div style="padding:0px;margin:50px 50px 0px 0px;background:#E9E9E9;height:100%;width:8%;position:fixed">
            <div class="list-group" style="font-size:14px;font-family:Microsoft Yahei">
              <button id='menu1' class="list-group-item active">
                 UI自动化测试 <span class="caret"></span>
              </button>
              <a href="{{url_for('show_tasks')}}" class="list-group-item menu1">&nbsp;&nbsp;任务管理</a>
              <a href="{{url_for('case_set')}}" class="list-group-item  menu1">&nbsp;&nbsp;用例集设置</a>
              <a href="{{url_for('page_ab')}}" class="list-group-item  menu1">&nbsp;&nbsp;页面抽象</a>
              <a href="{{url_for('model')}}" class="list-group-item  menu1">&nbsp;&nbsp;模板编写</a>
              <button id='menu2' class="list-group-item active">
                 http接口测试 <span class="caret"></span>
              </button>
              <a href="{{url_for('api_record')}}" class="list-group-item  menu2">&nbsp;&nbsp;接口录入</a>
              <a href="{{url_for('case_set')}}" class="list-group-item  menu2">&nbsp;&nbsp;接口管理</a>
              <a href="{{url_for('page_ab')}}" class="list-group-item  menu2">&nbsp;&nbsp;任务执行</a>
            </div>
			</div>
	</div>
	<!-- 内容 -->
	<div class="col-md-11" style="margin:60px 0px 0px 0px;">
		<!-- 页面扩展 -->
		{% block body %}{% endblock %}

		<br>
		<br>
		<br>
	</div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <b><h4 class="modal-title" id="myModalLabel">
                        
                    </h4></b>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" style="display:none">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
	<!-- 页脚 -->
	<footer class="container-fluid foot-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-6" style="text-align:right">
				Copyright &copy; 2017 武汉睿智视讯测试组. All rights reserved.
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<div style="height:60px"></div>
	</footer>
</body>
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            var class_name = "a." + $(this).attr('id')
            $(class_name).toggle();
        });
    });
    </script>
</html>