<!DOCTYPE html>
<html lang='zh-CN'>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>自动化测试平台</title>
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-3.3.7/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<script src="{{url_for('static',filename='jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='bootstrap-3.3.7/js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static',filename='socket.io.min.js')}}"></script>
</head>
<body style="padding:0px;margin:0px;background:#F9F9F9;">
	<!-- 标题栏 -->
	<nav class="navbar navbar-inverse navbar-fixed-top" style="background:#205081">
	  <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{url_for('show_tasks')}}" style="font-size:20px;color:#FFF;font-family:SimSun;"><b> ❄ 自动化测试平台</b></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<div class="navbar-form navbar-right">
				{% if not session.logged_in %}
				<a class="btn btn-default" href="{{ url_for('login')}}"><b>&nbsp;登 陆&nbsp;</b></a>
				{% else %}
				<a class="btn btn-default" href="{{ url_for('logout')}}"><b>&nbsp;注 销&nbsp;</b></a>
				{% endif %}
			</div>
		</div>
	  </div>
	</nav>
	<!-- 菜单栏 -->
	<div class="col-md-1" style="padding:0px;display:{{menu}};">
		<div style="padding:0px;margin:50px 50px 0px 0px;background:#E9E9E9;height:100%;width:10%;position:fixed">
			<div style="align:center;font-size:16px;padding:0px 30px 0px 30px;font-family:Microsoft Yahei">
				<br>
				<div>
					<a href="{{url_for('show_tasks')}}">&nbsp;&nbsp;任务管理</a>
				</div>
				<div>
					<a href="{{url_for('case_set')}}">&nbsp;&nbsp;用例集设置</a>
				</div>
				<div>
					<a href="{{url_for('page_ab')}}">&nbsp;&nbsp;页面抽象</a>
				</div>
				<div>
					<a href="{{url_for('model')}}">&nbsp;&nbsp;模板编写</a>
				</div>
				<hr style="background-color:#ccc;height:1px">
			</div>
		</div>
	</div dis>
	<!-- 内容 -->
	<div class="col-md-11" style="margin:60px 0px 0px 0px;">
		<!-- 页面扩展 -->
		{% block body %}{% endblock %}

		<br>
		<br>
		<br>
	</div>
	<!-- 页脚 -->
	<footer class="container-fluid foot-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-6" style="text-align:right">
				Copyright &copy; 2017 武汉睿智视讯测试组. All rights reserved.
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<div style="height:60px"></div>
	</footer>
</body>
</html>